In [1]:
# Magic to automatically update imports if functions in utils are changed
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import seaborn as sns
import sklearn
import matplotlib.pyplot as plt
import math

In [2]:
from sklearn.model_selection import train_test_split

stores_train = pd.read_csv("data/stores_train.csv")
stores_test = pd.read_csv("data/stores_test.csv")
bus_routes = pd.read_csv("data/busstops_norway.csv")
stores_train, stores_val = train_test_split(stores_train, test_size=0.2, random_state=0)

In [3]:
bus_routes.head()

,busstop_id,stopplace_type,importance_level,side_placement,geometry
0,853cb081-cc32-4880-aa3e-26e96870d874,Plattform og lomme,Mangler viktighetsnivå,LEFT_AND_RIGHT,POINT(6.54064723379766 61.0618887850553)
1,156b052b-2771-497a-b4f4-97fed59e1aca,"Lomme og skilt, ikke plattform",Mangler viktighetsnivå,LEFT_AND_RIGHT,POINT(5.89980086113255 60.1421872817075)
2,7312a280-e14f-4b09-a421-02e8fe1bc63e,NaN,Mangler viktighetsnivå,MIDDLE_LEFT,POINT(10.7781327278563 59.9299988828761)
3,d9cda2c7-355a-49c1-b56c-a33180d2a82e,NaN,Mangler viktighetsnivå,MIDDLE_LEFT,POINT(10.7781496457324 59.9301044643692)
4,f803bcd3-182d-450b-bbb4-113c6ca885c2,NaN,Mangler viktighetsnivå,MIDDLE_RIGHT,POINT(10.7781676444854 59.9302099995898)

In [8]:
stores_train.head()

,store_id,year,store_name,plaace_hierarchy_id,sales_channel_name,grunnkrets_id,address,lat,lon,chain_name,mall_name,revenue
2506,990857423-990974489-88185,2016,BAKER KLAUSEN UNION,1.2.2.0,Bakery shop,6020601,GRØNLAND 54,59.743135,10.194627,BAKER KLAUSEN DRAMMEN,NaN,4.447
12305,948879220-972145203-18800,2016,PRIKKEN RENS AS,3.4.2.0,Laundromats and dry cleaners,2350203,ENERGIVEGEN 5,60.149288,11.187290,NaN,NaN,2.040
4142,951136751-971668970-6795,2016,EXPERT HOKKSUND,2.3.1.0,Electronics stores,6240307,SUNDMOEN NÆRINGSOMRÅDE,59.768986,9.899066,EXPERT,NaN,36.489
8561,980237508-980246167-71346,2016,INVIT AS,2.9.1.0,Gifts and interior design shops,15040206,APOTEKERGATA 9,62.471607,6.151301,NaN,NaN,5.739
818,974421305-974489902-136560,2016,MUCHO MAS,1.1.6.2,Restaurants,3012312,THORVALD MEYERS GATE 36,59.924205,10.759401,NaN,NaN,15.573

In [37]:
bus_routes["point"] = bus_routes.geometry.apply(lambda x: np.array(x[6:-1].split(" ")).astype(float)[::-1])

In [38]:
bus_routes["point"].sample(5)

31872    [59.8408981892568, 9.91317503105806]
30992    [60.8756816133745, 9.52131740260943]
37142    [66.3895671727738, 14.2729724215622]
26378    [61.3180344819583, 6.03435103001988]
309      [59.6471402864059, 6.34829387887776]
Name: point, dtype: object

In [42]:
from scipy.spatial.distance import cdist


def closest_point(point, points):
    """ Find closest point from a list of points. """
    if(len(points) == 0):
        return None
    return points[cdist([point], points).argmin()]

In [43]:
stores_train["point"] = [(x, y) for x,y in zip(stores_train['lat'], stores_train['lon'])]

In [44]:
stores_train['closest_bus_stop'] = [closest_point(x["point"], list(bus_routes["point"])) for _, x in stores_train.iterrows()]

In [45]:
for i, row in stores_train.iterrows():
    val = cdist(np.array(row["point"]).reshape(1, -1), np.array(row["closest_bus_stop"]).reshape(1, -1))
    stores_train.at[i,'dist_to_nearest_bus_stop'] = val

In [52]:
stores_train["dist_to_nearest_bus_stop"].sample(10)

6472     0.002180
5298     0.000334
346      0.001445
5849     0.002093
1733     0.001206
12224    0.000725
6153     0.002131
2870     0.003380
9990     0.000700
1006     0.001384
Name: dist_to_nearest_bus_stop, dtype: float64